.App 
{
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.App-logo 
{
  height: 40vmin;
  pointer-events: none;
}

.App 
{
  background-color: #0B132B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes spin 
{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Menu
{
  width: 50%;
}

.Menu Button
{
  margin: 10%;
  width: 60%;
}

.Menu h1
{
  margin: 10%;
}

.Game Button
{
  margin: 10%;
}
